@use 'base/variables' as v;

.alerta {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: v.$bold;

    &.error {
        background-color: v.$error;
        color: v.$blanco;
    }

    &.exito {
        background-color: v.$success;
        color: v.$blanco;
    }
}